.cart {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.cartPrice {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
}
.cartName {
    min-height: 40px;
    text-align: center;
}