.active {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.section {
  width: 50%;
  max-width: 600px;
  padding: 20px 0 20px 16px;
  box-sizing: border-box;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.price_icon > svg {
  min-width: 36px;
  min-height: 36px;
  margin-right: 32px;
}
.cart {
  height: 80px;
  width: 100%;
  padding: 16px 32px 16px 24px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  border-radius: 40px;
  background-color: #1c1c21;
}
.listComponents {
  min-height: 194px;
}
.listComponents:last-child {
  margin: 0;
}
.component {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cardName {
  flex-grow: 1;
}

.image {
  max-height: 40px;
}
.scrollBar {
  max-height: 384px;
  overflow-y: scroll;
  border: none;
}
.scrollBar::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}
.scrollBar::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: #8585ad;
}
.defaultBorder {
  margin-bottom: 16px;
  margin-left: 32px;
  height: 368px;
  width: 552px;
  background-color: var(--interface-modal-bg, #1c1c21);
  border-radius: 88px;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}
.defaultBorder__bun_top {
  height: 80px;
  border-radius: 88px 88px 40px 40px;
}
.defaultBorder__bun_bottom {
  height: 80px;
  border-radius: 40px 40px 88px 88px;
}
.defaultBorder_medium {
  height: 178px;
  width: 536px;
  border-radius: 40px;
}
.defaultBorder_small {
  height: 80px;
  width: 536px;
  border-radius: 40px;
}
.defaultText {
  max-width: 336px;
  text-align: center; 
  color: rgb(133, 133, 173);
}
