.cardSection {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.cardSection__header {
  min-width: 590px;
}
.scrollBar {
  margin-top: 40px;
  max-height: 75vh;
  overflow-y: scroll;
  border: none;
}
.scrollBar::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}
.scrollBar::-webkit-scrollbar-thumb {
  height: 492px;
  background-color: #8585ad;
}
.cardSection > h2 {
  min-width: 100%;
}
.cardContainer {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  row-gap: 52px;
}
.disabled {
opacity: 0.4;
pointer-events: none
}
.included {
  opacity: 1;
  }
