.mainContainer {
  width: 100%;
  position:relative;
}
.mainContainer::after {
  content: "";
  display: block;
  position: fixed;
  bottom: 0;
  width: 42%;
  height: 8%;
  z-index: 30;
  background-image: linear-gradient(to top, var(--interface-bg) 20%, transparent 100%);
}
.container {
  box-sizing: border-box;
  padding: 24px;
  width: 100%;
  min-height: 214px;
  border-radius: var(--common-border-radius-s);

  background-color: var(--background);
  box-shadow: var(--box-shadow);

}
.container:not(:last-child) {
  margin-bottom: 16px;
}
.data {
  color: var(--text-inactive-color);
}
.status {
  color: var(--colors-interface-success);
}
.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scrollBar {
  padding-right: 8px;
  max-height: 75vh;
  overflow-y: scroll;
  border: none;
}
.scrollBar::-webkit-scrollbar {
  width: 8px;
  background-color: var(--background-element);
}
.scrollBar::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: var(--text-inactive-color);
}
.links {
  display: flex;
  flex-direction: column;
  gap: 24px;

  text-decoration: none;
  color:white;
}
