.position {
    position: relative;
    display: flex;
    flex-direction:column;
}
.header {
    height: 88px;

    display: flex;

    align-items: center;

    background: var(--interface-modal-bg, #1C1C21);
    box-shadow:
        0px 0px 1px 0px rgba(0, 0, 0, 0.04),
        0px 4px 8px 0px rgba(0, 0, 0, 0.04),
        0px 16px 24px 0px rgba(0, 0, 0, 0.04),
        0px 24px 32px 0px rgba(0, 0, 0, 0.04);
}
.link {
    text-decoration: none;
    
}
.headContainer {
    width: 1240px;
    height: 56px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.headerList {
    display: flex;
    flex-direction: row;
    gap: 40px
}
.menuElem{
    padding-left: 165px;
}
.statusLoading {
    margin-top: 25px;
    position: absolute;
    height: 100%;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    background-color: #131316c2;
}
.statusLoading :first-child {
    padding-left: 25px;
}
.statusLoading_disabled {
    overflow: hidden;
    display: none;
}
.statusLoading_active {
    overflow: visible;
}

