.section {
  width: 50%;
}

.price {
  composes: cartPrice from "../burger-ingredients/burger-cart/burger-cart.module.css";
  justify-content: end;
}
.cart {
    height: 80px;
    width: 100%;
    padding: 16px 32px 16px 24px;
    box-sizing:border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    border-radius: 40px;
    background-color: #1C1C21;
}
.component {
    display: flex;
    align-items: center;
    gap: 8px;
}
.cardName {
    flex-grow: 1;
}

.image {
    max-height: 40px;
}